In [3]:
import pandas as pd

# Load the Excel file
excel_file_path = 'Customer_Demographics_Purchase_History_With_Missing_Numeric.xlsx'
df_customer = pd.read_excel(excel_file_path)

# Preview the data
print(df_customer.head())
print(df_customer.info())  # Get column information

   Customer_ID Customer_Name   Age  Gender       Location Product_Category  \
0        17270          John  56.0   Other       New York            Books
1        10860           Eve  33.0   Other        Houston  Home Appliances
2        15390          John  50.0  Female        Houston         Clothing
3        15191           Eve  66.0   Other  San Francisco      Electronics
4        15734           Eve  38.0  Female       New York             Toys

   Product_ID       Purchase_Date  Purchase_Amount Payment_Method  Rating  \
0         674 2020-01-01 00:00:00       491.643012           Cash     NaN
1         393 2020-01-01 01:00:00       144.326722           Cash     5.0
2         995 2020-01-01 02:00:00       109.301892  Bank Transfer     NaN
3         405 2020-01-01 03:00:00       226.655516  Bank Transfer     2.0
4         353 2020-01-01 04:00:00        37.851880  Bank Transfer     2.0

  Feedback_Comments
0               NaN
1              Good
2               NaN
3         Excellent
4               NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer_ID        2000 non-null   int64
 1   Customer_Name      1900 non-null   object
 2   Age                1900 non-null   float64
 3   Gender             2000 non-null   object
 4   Location           2000 non-null   object
 5   Product_Category   2000 non-null   object
 6   Product_ID         2000 non-null   int64
 7   Purchase_Date      2000 non-null   datetime64[ns]
 8   Purchase_Amount    1800 non-null   float64
 9   Payment_Method     2000 non-null   object
 10  Rating             1860 non-null   float64
 11  Feedback_Comments  1099 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(2), object(6)
memory usage: 187.6+ KB
None

In [4]:

csv_file_path = 'Product_Information_With_Missing_Numeric.csv'
df_product = pd.read_csv(csv_file_path)

print(df_product.head())
print(df_product.info()) 
print(df_customer.isnull().sum())

print(df_customer.duplicated().sum())

   Product_ID  Product_Name         Category       Price  Stock_Level  \
0         202          Book  Home Appliances  838.665080          290
1         535          Book            Books  212.950114          332
2         960         Phone  Home Appliances  452.327541          179
3         370         Shirt             Toys  215.423366          414
4         206  Refrigerator      Electronics  279.182380          357

     Supplier  Discount  Rating
0  Supplier C         3       3
1  Supplier A        21       2
2  Supplier B        21       2
3  Supplier A        36       5
4  Supplier B        38       5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product_ID    2000 non-null   int64
 1   Product_Name  1900 non-null   object
 2   Category      2000 non-null   object
 3   Price         1800 non-null   float64
 4   Stock_Level   2000 non-null   int64
 5   Supplier      2000 non-null   object
 6   Discount      2000 non-null   int64
 7   Rating        2000 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 125.1+ KB
None
Customer_ID            0
Customer_Name        100
Age                  100
Gender                 0
Location               0
Product_Category       0
Product_ID             0
Purchase_Date          0
Purchase_Amount      200
Payment_Method         0
Rating               140
Feedback_Comments    901
dtype: int64
0

In [5]:

json_file_path = 'Transaction_Details_With_Missing_Numeric.json'
df_transaction = pd.read_json(json_file_path, lines=True)


print(df_transaction.head())
print(df_transaction.info())

   Transaction_ID  Customer_ID  Product_ID  Shipping_Date Delivery_Status  \
0          115795        18859         751   1.609459e+12       Delivered
1          100860        17818         198   1.609463e+12       Delivered
2          176820        14728         377   1.609466e+12       Delivered
3          154886        12624         662   1.609470e+12       Cancelled
4          106265        15738         762            NaN      In Transit

  Return_Status  Feedback_Rating Return_Reason
0      Returned                5     No Reason
1      Returned                1    Wrong Item
2      Returned                4     No Reason
3      Returned                4
4  Not Returned                1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transaction_ID   4000 non-null   int64
 1   Customer_ID      4000 non-null   int64
 2   Product_ID       4000 non-null   int64
 3   Shipping_Date    3800 non-null   float64
 4   Delivery_Status  3720 non-null   object
 5   Return_Status    4000 non-null   object
 6   Feedback_Rating  4000 non-null   int64
 7   Return_Reason    4000 non-null   object
dtypes: float64(1), int64(4), object(3)
memory usage: 250.1+ KB
None

In [6]:
print("Customer Data Info:")
print(df_customer.info())

print("\nCustomer Data Summary:")
print(df_customer.describe())

# Product Information
print("\nProduct Data Info:")
print(df_product.info())

print("\nProduct Data Summary:")
print(df_product.describe())

# Transaction Details
print("\nTransaction Data Info:")
print(df_transaction.info())

print("\nTransaction Data Summary:")
print(df_transaction.describe())

Customer Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer_ID        2000 non-null   int64
 1   Customer_Name      1900 non-null   object
 2   Age                1900 non-null   float64
 3   Gender             2000 non-null   object
 4   Location           2000 non-null   object
 5   Product_Category   2000 non-null   object
 6   Product_ID         2000 non-null   int64
 7   Purchase_Date      2000 non-null   datetime64[ns]
 8   Purchase_Amount    1800 non-null   float64
 9   Payment_Method     2000 non-null   object
 10  Rating             1860 non-null   float64
 11  Feedback_Comments  1099 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(2), object(6)
memory usage: 187.6+ KB
None

Customer Data Summary:
        Customer_ID          Age   Product_ID                  Purchase_Date  \
count   2000.000000  1900.000000  2000.000000                           2000
mean   15022.171500    43.696316   546.669000  2020-02-11 15:29:59.999999744
min    10001.000000    18.000000   100.000000            2020-01-01 00:00:00
25%    12585.750000    31.000000   320.750000            2020-01-21 19:45:00
50%    15104.500000    43.000000   551.000000            2020-02-11 15:30:00
75%    17408.250000    57.000000   763.000000            2020-03-03 11:15:00
max    19998.000000    69.000000   998.000000            2020-03-24 07:00:00
std     2865.577794    14.902947   259.999847                            NaN

       Purchase_Amount       Rating
count      1800.000000  1860.000000
mean        257.954370     2.978495
min          10.077295     1.000000
25%         134.525844     2.000000
50%         257.545509     3.000000
75%         383.819725     4.000000
max         499.839871     5.000000
std         142.217621     1.409478

Product Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product_ID    2000 non-null   int64
 1   Product_Name  1900 non-null   object
 2   Category      2000 non-null   object
 3   Price         1800 non-null   float64
 4   Stock_Level   2000 non-null   int64
 5   Supplier      2000 non-null   object
 6   Discount      2000 non-null   int64
 7   Rating        2000 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 125.1+ KB
None

Product Data Summary:
        Product_ID        Price  Stock_Level     Discount       Rating
count  2000.000000  1800.000000  2000.000000  2000.000000  2000.000000
mean    548.302500   498.858379   237.706000    24.642000     3.002000
std     266.893188   285.120922   145.723355    14.501517     1.403916
min     100.000000    20.614966    -1.000000     0.000000     1.000000
25%     315.000000   252.041475   110.000000    12.000000     2.000000
50%     549.500000   496.512788   234.000000    24.000000     3.000000
75%     785.250000   742.232881   360.000000    37.000000     4.000000
max     998.000000   999.852260   499.000000    49.000000     5.000000

Transaction Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transaction_ID   4000 non-null   int64
 1   Customer_ID      4000 non-null   int64
 2   Product_ID       4000 non-null   int64
 3   Shipping_Date    3800 non-null   float64
 4   Delivery_Status  3720 non-null   object
 5   Return_Status    4000 non-null   object
 6   Feedback_Rating  4000 non-null   int64
 7   Return_Reason    4000 non-null   object
dtypes: float64(1), int64(4), object(3)
memory usage: 250.1+ KB
None

Transaction Data Summary:
       Transaction_ID   Customer_ID   Product_ID  Shipping_Date  \
count     4000.000000   4000.000000  4000.000000   3.800000e+03
mean    149332.371500  14933.221000   556.226500   1.616654e+12
std      28903.525149   2865.062739   261.650081   4.158782e+09
min     100055.000000  10001.000000   100.000000   1.609459e+12
25%     124054.750000  12510.500000   328.000000   1.613048e+12
50%     149249.000000  14845.500000   558.500000   1.616661e+12
75%     174534.750000  17381.250000   787.000000   1.620242e+12
max     199986.000000  19993.000000   998.000000   1.623856e+12

       Feedback_Rating
count      4000.000000
mean          2.832250
std           1.550068
min          -1.000000
25%           2.000000
50%           3.000000
75%           4.000000
max           5.000000

In [7]:
# 1. Customer_Name: Impute missing names with "Unknown"
df_customer['Customer_Name'].fillna('Unknown', inplace=True)

# 2. Age: Impute missing values with the median age
median_age = df_customer['Age'].median()
df_customer['Age'].fillna(median_age, inplace=True)

# 3. Purchase_Date: Ensure the data type is datetime
df_customer['Purchase_Date'] = pd.to_datetime(df_customer['Purchase_Date'])

# 4. Purchase_Amount: Impute missing values with the median purchase amount
median_purchase = df_customer['Purchase_Amount'].median()
df_customer['Purchase_Amount'].fillna(median_purchase, inplace=True)

# 5. Rating: Impute missing values with the mode rating
mode_rating = df_customer['Rating'].mode()[0]
df_customer['Rating'].fillna(mode_rating, inplace=True)

# 6. Drop Feedback_Comments: Drop this column due to too many missing values
#df_customer.drop(columns=['Feedback'], inplace=True)

# Final check for missing values and data types
print(df_customer.isnull().sum())
print(df_customer.info())
print(df_customer.duplicated().sum())
# Step 2: Ensure correct data types
df_customer['Purchase_Date'] = pd.to_datetime(df_customer['Purchase_Date'])

# Step 3: Remove duplicates
#df_customer.drop_duplicates(inplace=True)

Customer_ID            0
Customer_Name          0
Age                    0
Gender                 0
Location               0
Product_Category       0
Product_ID             0
Purchase_Date          0
Purchase_Amount        0
Payment_Method         0
Rating                 0
Feedback_Comments    901
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer_ID        2000 non-null   int64
 1   Customer_Name      2000 non-null   object
 2   Age                2000 non-null   float64
 3   Gender             2000 non-null   object
 4   Location           2000 non-null   object
 5   Product_Category   2000 non-null   object
 6   Product_ID         2000 non-null   int64
 7   Purchase_Date      2000 non-null   datetime64[ns]
 8   Purchase_Amount    2000 non-null   float64
 9   Payment_Method     2000 non-null   object
 10  Rating             2000 non-null   float64
 11  Feedback_Comments  1099 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(2), object(6)
memory usage: 187.6+ KB
None
0

In [8]:

# Cleaning Product Information DataFrame (product_info_df)
# Step 1: Handle missing values for Stock_Level, Discount, and Rating
df_product['Stock_Level'].fillna(df_product['Stock_Level'].median(), inplace=True)
df_product['Discount'].fillna(df_product['Discount'].mean(), inplace=True)
df_product['Rating'].fillna(df_product['Rating'].mean(), inplace=True)

# Step 2: Ensure correct data types for Price and other numeric fields
df_product['Price'] = pd.to_numeric(df_product['Price'], errors='coerce')
df_product['Stock_Level'] = pd.to_numeric(df_product['Stock_Level'], errors='coerce')

#If product categories exist, fill missing prices based on the median price within the same category
# Assuming a 'category' column exists
#df['price'] = df.groupby('category')['price'].transform(lambda x: x.fillna(x.median()))
# Step 3: Remove duplicates
df_product.drop_duplicates(inplace=True)

# Cleaning Transaction Details DataFrame (transaction_details_df)
# Step 1: Handle missing values for Shipping_Date and Feedback_Rating
df_transaction['Shipping_Date'] = pd.to_datetime(df_transaction['Shipping_Date'], unit='ms', errors='coerce')
df_transaction['Return_Reason'].fillna('No Reason', inplace=True)
df_transaction['Feedback_Rating'].fillna(df_transaction['Feedback_Rating'].mean(), inplace=True)
#Fill with the median shipping date (for example)
median_shipping_date = df_transaction['Shipping_Date'].median()
df_transaction['Shipping_Date'] = df_transaction['Shipping_Date'].fillna(median_shipping_date)
mode_delivery_status = df_transaction['Delivery_Status'].mode()[0]
df_transaction['Delivery_Status'] = df_transaction['Delivery_Status'].fillna(mode_delivery_status)
# Step 2: Remove duplicates
df_transaction.drop_duplicates(inplace=True)

# Check for duplicate rows
print("Duplicate rows in Customer Demographics dataset:", df_customer.duplicated().sum())

print("Duplicate rows in Product Information dataset:", df_product.duplicated().sum())

print("Duplicate rows in Transaction Details dataset:", df_transaction.duplicated().sum())
print(df_transaction.info())
print(df_transaction.isnull().sum())
print(df_product.isnull().sum())

Duplicate rows in Customer Demographics dataset: 0
Duplicate rows in Product Information dataset: 0
Duplicate rows in Transaction Details dataset: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transaction_ID   4000 non-null   int64
 1   Customer_ID      4000 non-null   int64
 2   Product_ID       4000 non-null   int64
 3   Shipping_Date    4000 non-null   datetime64[ns]
 4   Delivery_Status  4000 non-null   object
 5   Return_Status    4000 non-null   object
 6   Feedback_Rating  4000 non-null   int64
 7   Return_Reason    4000 non-null   object
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 250.1+ KB
None
Transaction_ID     0
Customer_ID        0
Product_ID         0
Shipping_Date      0
Delivery_Status    0
Return_Status      0
Feedback_Rating    0
Return_Reason      0
dtype: int64
Product_ID        0
Product_Name    100
Category          0
Price           200
Stock_Level       0
Supplier          0
Discount          0
Rating            0
dtype: int64

In [9]:
# Find which Product_IDs in transaction dataframe are missing from product dataframe
missing_product_ids = df_transaction.loc[~df_transaction['Product_ID'].isin(df_product['Product_ID']), 'Product_ID'].unique()

print("Missing Product IDs:")
print(missing_product_ids)

Missing Product IDs:
[178 151 841 750 432 123 450 398 163 331 867 461 779 855 815 347 522 130
 442 638 200 632 354 416 836 865 688 268 159 627 856 532 156 887 629 807
 864 482 908 165 717 959 718 582 511 310 579 359 945 654 361 389 585 296
 339 320 298 235 520 318 907 859 375 263 444 720 778 648 481 702 909 337
 144 635 634 452 770 713 176 682 974 292 986 533 699 170 961 209 586 696
 652 793 594 578 685 643 167 564 467 451 406 454 129 690 885 614]

In [10]:
# Find which Product_IDs in customer datframe are missing from product dataframe
missing_product_ids = df_customer.loc[~df_customer['Product_ID'].isin(df_product['Product_ID']), 'Product_ID'].unique()

print("Missing Product IDs:")
print(missing_product_ids)

Missing Product IDs:
[836 582 529 442 450 718 974 176 511 685 867 720 579 690 713 209 167 156
 859 864 416 961 856 586 389 354 452 451 632 909 533 778 467 159 887 564
 123 520 406 235 614 292 347 481 454 635 793 908 461 648 578 638 585 149
 482 945 841 200 318 654 284 320 165 170 865 702 532 444 643 375 130 129
 634 298 779 959 688 263 717 907 696 629 699 361 885 144 163 432 594 151
 337 986 652 807 815 178 627 339 522]

In [11]:
# # Filter out Product_IDs that are not present in both transaction and customer datasets
# filtered_product_info_df = df_product[
#     (df_product['Product_ID'].isin(df_transaction['Product_ID'])) &
#     (df_product['Product_ID'].isin(df_customer['Product_ID']))
# ]

# # Now merge with both transaction and customer data
# merged_df = pd.merge(df_transaction, filtered_product_info_df, on='Product_ID', how='inner')
# merged_df = pd.merge(merged_df, df_customer, on='Customer_ID', how='inner')

# # Display the merged DataFrame
# merged_df.head()

In [12]:
# Perform a left join with both transaction and customer data to keep all products
merged_df = pd.merge(df_product, df_transaction, on='Product_ID', how='left')
merged_df = pd.merge(merged_df, df_customer, on='Product_ID', how='left',suffixes=('_transaction', '_customer'))

# Fill missing customer or transaction data with placeholders
merged_df['Customer_Name'].fillna('Unknown Customer', inplace=True)
merged_df['Purchase_Amount'].fillna(0, inplace=True)

# Display the merged DataFrame
merged_df.head(20)

,Product_ID,Product_Name,Category,Price,Stock_Level,Supplier,Discount,Rating_transaction,Transaction_ID,Customer_ID_transaction,...,Customer_Name,Age,Gender,Location,Product_Category,Purchase_Date,Purchase_Amount,Payment_Method,Rating_customer,Feedback_Comments
0,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,170091.0,14776.0,...,Bob,38.0,Male,San Francisco,Toys,2020-03-02 23:00:00,134.311447,Bank Transfer,3.0,NaN
1,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,170091.0,14776.0,...,Bob,37.0,Male,Chicago,Books,2020-03-06 22:00:00,475.639185,Bank Transfer,4.0,Excellent
2,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,170091.0,14776.0,...,Bob,66.0,Female,Los Angeles,Home Appliances,2020-03-09 07:00:00,257.545509,Bank Transfer,3.0,Good
3,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,170091.0,14776.0,...,Unknown,45.0,Female,New York,Clothing,2020-03-18 04:00:00,12.022306,Cash,4.0,Average
4,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,135195.0,19369.0,...,Bob,38.0,Male,San Francisco,Toys,2020-03-02 23:00:00,134.311447,Bank Transfer,3.0,NaN
5,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,135195.0,19369.0,...,Bob,37.0,Male,Chicago,Books,2020-03-06 22:00:00,475.639185,Bank Transfer,4.0,Excellent
6,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,135195.0,19369.0,...,Bob,66.0,Female,Los Angeles,Home Appliances,2020-03-09 07:00:00,257.545509,Bank Transfer,3.0,Good
7,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,135195.0,19369.0,...,Unknown,45.0,Female,New York,Clothing,2020-03-18 04:00:00,12.022306,Cash,4.0,Average
8,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,195084.0,10658.0,...,Bob,38.0,Male,San Francisco,Toys,2020-03-02 23:00:00,134.311447,Bank Transfer,3.0,NaN
9,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,195084.0,10658.0,...,Bob,37.0,Male,Chicago,Books,2020-03-06 22:00:00,475.639185,Bank Transfer,4.0,Excellent
10,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,195084.0,10658.0,...,Bob,66.0,Female,Los Angeles,Home Appliances,2020-03-09 07:00:00,257.545509,Bank Transfer,3.0,Good
11,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,195084.0,10658.0,...,Unknown,45.0,Female,New York,Clothing,2020-03-18 04:00:00,12.022306,Cash,4.0,Average
12,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,106090.0,10160.0,...,Bob,38.0,Male,San Francisco,Toys,2020-03-02 23:00:00,134.311447,Bank Transfer,3.0,NaN
13,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,106090.0,10160.0,...,Bob,37.0,Male,Chicago,Books,2020-03-06 22:00:00,475.639185,Bank Transfer,4.0,Excellent
14,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,106090.0,10160.0,...,Bob,66.0,Female,Los Angeles,Home Appliances,2020-03-09 07:00:00,257.545509,Bank Transfer,3.0,Good
15,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,106090.0,10160.0,...,Unknown,45.0,Female,New York,Clothing,2020-03-18 04:00:00,12.022306,Cash,4.0,Average
16,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,111561.0,19082.0,...,Bob,38.0,Male,San Francisco,Toys,2020-03-02 23:00:00,134.311447,Bank Transfer,3.0,NaN
17,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,111561.0,19082.0,...,Bob,37.0,Male,Chicago,Books,2020-03-06 22:00:00,475.639185,Bank Transfer,4.0,Excellent
18,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,111561.0,19082.0,...,Bob,66.0,Female,Los Angeles,Home Appliances,2020-03-09 07:00:00,257.545509,Bank Transfer,3.0,Good
19,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,111561.0,19082.0,...,Unknown,45.0,Female,New York,Clothing,2020-03-18 04:00:00,12.022306,Cash,4.0,Average

In [13]:
# Perform a left join with both transaction and customer data to keep all products
merged_df = pd.merge(df_product, df_transaction, on='Product_ID', how='left')
merged_df = pd.merge(merged_df, df_customer, on='Product_ID', how='left', suffixes=('_transaction', '_customer'))

# Fill missing customer or transaction data with placeholders
merged_df['Customer_Name'].fillna('Unknown Customer', inplace=True)
merged_df['Purchase_Amount'].fillna(0, inplace=True)

# Remove duplicated Customer_ID columns by keeping the one from customer data
merged_df['Customer_ID'] = merged_df['Customer_ID_customer'].fillna(merged_df['Customer_ID_transaction'])

# Drop the extra Customer_ID columns and any other redundant columns
merged_df.drop(['Customer_ID_transaction', 'Customer_ID_customer'], axis=1, inplace=True)

# Rename columns to be more descriptive and consistent
merged_df.rename(columns={
    'Product_Name': 'Product Name',
    'Purchase_Amount': 'Purchase Amount',
    'Purchase_Date': 'Purchase Date',
    'Rating_x': 'Product Rating',
    'Rating_y': 'Customer Rating'
}, inplace=True)

merged_df.drop_duplicates(subset=['Product_ID', 'Customer_ID','Transaction_ID'], inplace=True)

# Display the cleaned DataFrame
merged_df.head(20)

,Product_ID,Product Name,Category,Price,Stock_Level,Supplier,Discount,Rating_transaction,Transaction_ID,Shipping_Date,...,Age,Gender,Location,Product_Category,Purchase Date,Purchase Amount,Payment_Method,Rating_customer,Feedback_Comments,Customer_ID
0,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,38.0,Male,San Francisco,Toys,2020-03-02 23:00:00,134.311447,Bank Transfer,3.0,NaN,12752.0
1,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,37.0,Male,Chicago,Books,2020-03-06 22:00:00,475.639185,Bank Transfer,4.0,Excellent,12043.0
2,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,66.0,Female,Los Angeles,Home Appliances,2020-03-09 07:00:00,257.545509,Bank Transfer,3.0,Good,14904.0
3,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,45.0,Female,New York,Clothing,2020-03-18 04:00:00,12.022306,Cash,4.0,Average,12989.0
4,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,135195.0,2021-01-23 14:00:00,...,38.0,Male,San Francisco,Toys,2020-03-02 23:00:00,134.311447,Bank Transfer,3.0,NaN,12752.0
5,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,135195.0,2021-01-23 14:00:00,...,37.0,Male,Chicago,Books,2020-03-06 22:00:00,475.639185,Bank Transfer,4.0,Excellent,12043.0
6,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,135195.0,2021-01-23 14:00:00,...,66.0,Female,Los Angeles,Home Appliances,2020-03-09 07:00:00,257.545509,Bank Transfer,3.0,Good,14904.0
7,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,135195.0,2021-01-23 14:00:00,...,45.0,Female,New York,Clothing,2020-03-18 04:00:00,12.022306,Cash,4.0,Average,12989.0
8,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,195084.0,2021-02-02 15:00:00,...,38.0,Male,San Francisco,Toys,2020-03-02 23:00:00,134.311447,Bank Transfer,3.0,NaN,12752.0
9,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,195084.0,2021-02-02 15:00:00,...,37.0,Male,Chicago,Books,2020-03-06 22:00:00,475.639185,Bank Transfer,4.0,Excellent,12043.0
10,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,195084.0,2021-02-02 15:00:00,...,66.0,Female,Los Angeles,Home Appliances,2020-03-09 07:00:00,257.545509,Bank Transfer,3.0,Good,14904.0
11,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,195084.0,2021-02-02 15:00:00,...,45.0,Female,New York,Clothing,2020-03-18 04:00:00,12.022306,Cash,4.0,Average,12989.0
12,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,106090.0,2021-02-07 14:00:00,...,38.0,Male,San Francisco,Toys,2020-03-02 23:00:00,134.311447,Bank Transfer,3.0,NaN,12752.0
13,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,106090.0,2021-02-07 14:00:00,...,37.0,Male,Chicago,Books,2020-03-06 22:00:00,475.639185,Bank Transfer,4.0,Excellent,12043.0
14,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,106090.0,2021-02-07 14:00:00,...,66.0,Female,Los Angeles,Home Appliances,2020-03-09 07:00:00,257.545509,Bank Transfer,3.0,Good,14904.0
15,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,106090.0,2021-02-07 14:00:00,...,45.0,Female,New York,Clothing,2020-03-18 04:00:00,12.022306,Cash,4.0,Average,12989.0
16,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,111561.0,2021-03-28 10:00:00,...,38.0,Male,San Francisco,Toys,2020-03-02 23:00:00,134.311447,Bank Transfer,3.0,NaN,12752.0
17,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,111561.0,2021-03-28 10:00:00,...,37.0,Male,Chicago,Books,2020-03-06 22:00:00,475.639185,Bank Transfer,4.0,Excellent,12043.0
18,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,111561.0,2021-03-28 10:00:00,...,66.0,Female,Los Angeles,Home Appliances,2020-03-09 07:00:00,257.545509,Bank Transfer,3.0,Good,14904.0
19,202,Book,Home Appliances,838.66508,290,Supplier C,3,3,111561.0,2021-03-28 10:00:00,...,45.0,Female,New York,Clothing,2020-03-18 04:00:00,12.022306,Cash,4.0,Average,12989.0

In [14]:
# Identify rows with duplicated Product_ID and Transaction_ID
duplicate_rows = merged_df[merged_df.duplicated(subset=['Product_ID', 'Transaction_ID'], keep=False)]
print(duplicate_rows)

       Product_ID Product Name         Category       Price  Stock_Level  \
0             202         Book  Home Appliances  838.665080          290
1             202         Book  Home Appliances  838.665080          290
2             202         Book  Home Appliances  838.665080          290
3             202         Book  Home Appliances  838.665080          290
4             202         Book  Home Appliances  838.665080          290
...           ...          ...              ...         ...          ...
20622         667        Phone         Clothing  143.191788           57
20623         667        Phone         Clothing  143.191788           57
20624         667        Phone         Clothing  143.191788           57
20625         667        Phone         Clothing  143.191788           57
20626         667        Phone         Clothing  143.191788           57

         Supplier  Discount  Rating_transaction  Transaction_ID  \
0      Supplier C         3                   3        170091.0
1      Supplier C         3                   3        170091.0
2      Supplier C         3                   3        170091.0
3      Supplier C         3                   3        170091.0
4      Supplier C         3                   3        135195.0
...           ...       ...                 ...             ...
20622  Supplier C        25                   3        131367.0
20623  Supplier C        25                   3        149437.0
20624  Supplier C        25                   3        149437.0
20625  Supplier C        25                   3        149437.0
20626  Supplier C        25                   3        149437.0

            Shipping_Date  ...   Age  Gender       Location Product_Category  \
0     2021-01-14 16:00:00  ...  38.0    Male  San Francisco             Toys
1     2021-01-14 16:00:00  ...  37.0    Male        Chicago            Books
2     2021-01-14 16:00:00  ...  66.0  Female    Los Angeles  Home Appliances
3     2021-01-14 16:00:00  ...  45.0  Female       New York         Clothing
4     2021-01-23 14:00:00  ...  38.0    Male  San Francisco             Toys
...                   ...  ...   ...     ...            ...              ...
20622 2021-04-11 08:00:00  ...  20.0   Other        Houston            Books
20623 2021-05-21 21:00:00  ...  55.0    Male    Los Angeles  Home Appliances
20624 2021-05-21 21:00:00  ...  56.0   Other        Houston      Electronics
20625 2021-05-21 21:00:00  ...  32.0    Male        Houston  Home Appliances
20626 2021-05-21 21:00:00  ...  20.0   Other        Houston            Books

            Purchase Date  Purchase Amount Payment_Method Rating_customer  \
0     2020-03-02 23:00:00       134.311447  Bank Transfer             3.0
1     2020-03-06 22:00:00       475.639185  Bank Transfer             4.0
2     2020-03-09 07:00:00       257.545509  Bank Transfer             3.0
3     2020-03-18 04:00:00        12.022306           Cash             4.0
4     2020-03-02 23:00:00       134.311447  Bank Transfer             3.0
...                   ...              ...            ...             ...
20622 2020-03-20 02:00:00       199.706143         PayPal             4.0
20623 2020-01-26 05:00:00       149.786219  Bank Transfer             2.0
20624 2020-01-27 05:00:00       491.201865  Bank Transfer             3.0
20625 2020-01-31 04:00:00       384.187046           Cash             2.0
20626 2020-03-20 02:00:00       199.706143         PayPal             4.0

      Feedback_Comments Customer_ID
0                   NaN     12752.0
1             Excellent     12043.0
2                  Good     14904.0
3               Average     12989.0
4                   NaN     12752.0
...                 ...         ...
20622               NaN     18105.0
20623           Average     13627.0
20624         Excellent     10667.0
20625               NaN     17002.0
20626               NaN     18105.0

[6996 rows x 25 columns]

In [15]:
print(merged_df.columns)

Index(['Product_ID', 'Product Name', 'Category', 'Price', 'Stock_Level',
       'Supplier', 'Discount', 'Rating_transaction', 'Transaction_ID',
       'Shipping_Date', 'Delivery_Status', 'Return_Status', 'Feedback_Rating',
       'Return_Reason', 'Customer_Name', 'Age', 'Gender', 'Location',
       'Product_Category', 'Purchase Date', 'Purchase Amount',
       'Payment_Method', 'Rating_customer', 'Feedback_Comments',
       'Customer_ID'],
      dtype='object')

In [16]:
# Aggregate data to combine rows with the same Product_ID and Transaction_ID
aggregated_df = merged_df.groupby(['Product_ID', 'Transaction_ID']).agg({
    'Purchase Amount': 'sum',  # Summing up the purchase amount for the same Product_ID and Transaction_ID
    'Rating_customer': 'mean',          # Averaging ratings if applicable
    'Customer_ID': 'first',# Keeping the first customer ID or using another logic
    'Customer_Name': 'first'
    
}).reset_index()

aggregated_df

,Product_ID,Transaction_ID,Purchase Amount,Rating_customer,Customer_ID,Customer_Name
0,100,140600.0,661.482284,3.5,13778.0,Bob
1,100,152893.0,661.482284,3.5,13778.0,Bob
2,100,172805.0,661.482284,3.5,13778.0,Bob
3,100,195998.0,661.482284,3.5,13778.0,Bob
4,101,106406.0,191.821720,5.0,16783.0,Charlie
...,...,...,...,...,...,...
3501,998,135222.0,1231.774762,3.4,10004.0,Unknown
3502,998,149812.0,1231.774762,3.4,10004.0,Unknown
3503,998,164106.0,1231.774762,3.4,10004.0,Unknown
3504,998,165481.0,1231.774762,3.4,10004.0,Unknown
3505,998,171849.0,1231.774762,3.4,10004.0,Unknown

In [22]:


# 1. Feature: Total Purchase Amount per Customer
# Calculate the total purchase amount for each customer
merged_df['Total_Purchase_Amount'] = merged_df.groupby('Customer_ID')['Purchase Amount'].transform(sum)
merged_df

,Product_ID,Product Name,Category,Price,Stock_Level,Supplier,Discount,Rating_transaction,Transaction_ID,Shipping_Date,...,Gender,Location,Product_Category,Purchase Date,Purchase Amount,Payment_Method,Rating_customer,Feedback_Comments,Customer_ID,Total_Purchase_Amount
0,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,Male,San Francisco,Toys,2020-03-02 23:00:00,134.311447,Bank Transfer,3.0,NaN,12752.0,NaN
1,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,Male,Chicago,Books,2020-03-06 22:00:00,475.639185,Bank Transfer,4.0,Excellent,12043.0,NaN
2,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,Female,Los Angeles,Home Appliances,2020-03-09 07:00:00,257.545509,Bank Transfer,3.0,Good,14904.0,NaN
3,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,Female,New York,Clothing,2020-03-18 04:00:00,12.022306,Cash,4.0,Average,12989.0,NaN
4,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,135195.0,2021-01-23 14:00:00,...,Male,San Francisco,Toys,2020-03-02 23:00:00,134.311447,Bank Transfer,3.0,NaN,12752.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20622,667,Phone,Clothing,143.191788,57,Supplier C,25,3,131367.0,2021-04-11 08:00:00,...,Other,Houston,Books,2020-03-20 02:00:00,199.706143,PayPal,4.0,NaN,18105.0,NaN
20623,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,Male,Los Angeles,Home Appliances,2020-01-26 05:00:00,149.786219,Bank Transfer,2.0,Average,13627.0,NaN
20624,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,Other,Houston,Electronics,2020-01-27 05:00:00,491.201865,Bank Transfer,3.0,Excellent,10667.0,NaN
20625,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,Male,Houston,Home Appliances,2020-01-31 04:00:00,384.187046,Cash,2.0,NaN,17002.0,NaN
20626,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,Other,Houston,Books,2020-03-20 02:00:00,199.706143,PayPal,4.0,NaN,18105.0,NaN

In [24]:
merged_df.columns

Index(['Product_ID', 'Product Name', 'Category', 'Price', 'Stock_Level',
       'Supplier', 'Discount', 'Rating_transaction', 'Transaction_ID',
       'Shipping_Date', 'Delivery_Status', 'Return_Status', 'Feedback_Rating',
       'Return_Reason', 'Customer_Name', 'Age', 'Gender', 'Location',
       'Product_Category', 'Purchase Date', 'Purchase Amount',
       'Payment_Method', 'Rating_customer', 'Feedback_Comments', 'Customer_ID',
       'Total_Purchase_Amount'],
      dtype='object')

In [27]:
# 2. Feature: Frequency of Returns
# Calculate the number of times a customer has returned products
merged_df['Return_Count'] = merged_df.groupby('Customer_ID')['Return_Status'].transform(lambda x: (x == 'Returned').sum())

# 3. Feature: Average Feedback Rating
# Calculate the average feedback rating for each customer
merged_df['Average_Feedback_Rating'] = merged_df.groupby('Customer_ID')['Feedback_Rating'].transform('mean')

# 4. Feature: Time Since Last Purchase
# First, ensure that Purchase_Date is in datetime format
merged_df['Purchase Date'] = pd.to_datetime(merged_df['Purchase Date'], errors='coerce')

# Calculate the difference between the current date and the most recent purchase date
merged_df['Days_Since_Last_Purchase'] = (pd.Timestamp.now() - merged_df.groupby('Customer_ID')['Purchase Date'].transform('max')).dt.days

In [28]:
merged_df['Customer_Lifetime_Value'] = merged_df.groupby('Customer_ID')['Purchase Amount'].transform('sum')
merged_df

,Product_ID,Product Name,Category,Price,Stock_Level,Supplier,Discount,Rating_transaction,Transaction_ID,Shipping_Date,...,Purchase Amount,Payment_Method,Rating_customer,Feedback_Comments,Customer_ID,Total_Purchase_Amount,Return_Count,Average_Feedback_Rating,Days_Since_Last_Purchase,Customer_Lifetime_Value
0,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,134.311447,Bank Transfer,3.0,NaN,12752.0,NaN,3.0,3.0,1695.0,671.557233
1,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,475.639185,Bank Transfer,4.0,Excellent,12043.0,NaN,3.0,3.0,1691.0,2378.195923
2,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,257.545509,Bank Transfer,3.0,Good,14904.0,NaN,3.0,3.0,1689.0,1287.727546
3,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,12.022306,Cash,4.0,Average,12989.0,NaN,3.0,3.0,1680.0,60.111529
4,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,135195.0,2021-01-23 14:00:00,...,134.311447,Bank Transfer,3.0,NaN,12752.0,NaN,3.0,3.0,1695.0,671.557233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20622,667,Phone,Clothing,143.191788,57,Supplier C,25,3,131367.0,2021-04-11 08:00:00,...,199.706143,PayPal,4.0,NaN,18105.0,NaN,0.0,2.5,1678.0,1198.236859
20623,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,149.786219,Bank Transfer,2.0,Average,13627.0,NaN,2.0,2.9,1732.0,1928.899348
20624,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,491.201865,Bank Transfer,3.0,Excellent,10667.0,NaN,0.0,2.5,1731.0,2947.211191
20625,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,384.187046,Cash,2.0,NaN,17002.0,NaN,0.0,2.5,1727.0,2305.122276
20626,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,199.706143,PayPal,4.0,NaN,18105.0,NaN,0.0,2.5,1678.0,1198.236859

In [30]:
#merged_df['Days_Since_Last_Purchase'] = (pd.Timestamp.now() - merged_df.groupby('Customer_ID')['Purchase Date'].transform('max')).dt.days
merged_df['Churn_Risk'] = merged_df['Days_Since_Last_Purchase'].apply(lambda x: 1 if x >merged_df['Days_Since_Last_Purchase'].mean()  else 0)
merged_df

,Product_ID,Product Name,Category,Price,Stock_Level,Supplier,Discount,Rating_transaction,Transaction_ID,Shipping_Date,...,Payment_Method,Rating_customer,Feedback_Comments,Customer_ID,Total_Purchase_Amount,Return_Count,Average_Feedback_Rating,Days_Since_Last_Purchase,Customer_Lifetime_Value,Churn_Risk
0,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,Bank Transfer,3.0,NaN,12752.0,NaN,3.0,3.0,1695.0,671.557233,0
1,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,Bank Transfer,4.0,Excellent,12043.0,NaN,3.0,3.0,1691.0,2378.195923,0
2,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,Bank Transfer,3.0,Good,14904.0,NaN,3.0,3.0,1689.0,1287.727546,0
3,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,Cash,4.0,Average,12989.0,NaN,3.0,3.0,1680.0,60.111529,0
4,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,135195.0,2021-01-23 14:00:00,...,Bank Transfer,3.0,NaN,12752.0,NaN,3.0,3.0,1695.0,671.557233,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20622,667,Phone,Clothing,143.191788,57,Supplier C,25,3,131367.0,2021-04-11 08:00:00,...,PayPal,4.0,NaN,18105.0,NaN,0.0,2.5,1678.0,1198.236859,0
20623,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,Bank Transfer,2.0,Average,13627.0,NaN,2.0,2.9,1732.0,1928.899348,1
20624,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,Bank Transfer,3.0,Excellent,10667.0,NaN,0.0,2.5,1731.0,2947.211191,1
20625,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,Cash,2.0,NaN,17002.0,NaN,0.0,2.5,1727.0,2305.122276,1
20626,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,PayPal,4.0,NaN,18105.0,NaN,0.0,2.5,1678.0,1198.236859,0

In [34]:
merged_df['Loyalty_Status'] = (merged_df.groupby('Customer_ID')['Transaction_ID'].transform('count') > 5) & (merged_df['Days_Since_Last_Purchase'] < merged_df['Days_Since_Last_Purchase'].mean() )
merged_df

,Product_ID,Product Name,Category,Price,Stock_Level,Supplier,Discount,Rating_transaction,Transaction_ID,Shipping_Date,...,Feedback_Comments,Customer_ID,Total_Purchase_Amount,Return_Count,Average_Feedback_Rating,Days_Since_Last_Purchase,Customer_Lifetime_Value,Churn_Risk,Loyalty_Status,Purchase_Frequency
0,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,NaN,12752.0,NaN,3.0,3.0,1695.0,671.557233,0,False,5.0
1,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,Excellent,12043.0,NaN,3.0,3.0,1691.0,2378.195923,0,False,5.0
2,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,Good,14904.0,NaN,3.0,3.0,1689.0,1287.727546,0,False,5.0
3,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,Average,12989.0,NaN,3.0,3.0,1680.0,60.111529,0,False,5.0
4,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,135195.0,2021-01-23 14:00:00,...,NaN,12752.0,NaN,3.0,3.0,1695.0,671.557233,0,False,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20622,667,Phone,Clothing,143.191788,57,Supplier C,25,3,131367.0,2021-04-11 08:00:00,...,NaN,18105.0,NaN,0.0,2.5,1678.0,1198.236859,0,True,6.0
20623,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,Average,13627.0,NaN,2.0,2.9,1732.0,1928.899348,1,False,10.0
20624,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,Excellent,10667.0,NaN,0.0,2.5,1731.0,2947.211191,1,False,6.0
20625,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,NaN,17002.0,NaN,0.0,2.5,1727.0,2305.122276,1,False,6.0
20626,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,NaN,18105.0,NaN,0.0,2.5,1678.0,1198.236859,0,True,6.0

In [33]:
merged_df['Purchase_Frequency'] = merged_df.groupby('Customer_ID')['Transaction_ID'].transform('count')
merged_df

,Product_ID,Product Name,Category,Price,Stock_Level,Supplier,Discount,Rating_transaction,Transaction_ID,Shipping_Date,...,Feedback_Comments,Customer_ID,Total_Purchase_Amount,Return_Count,Average_Feedback_Rating,Days_Since_Last_Purchase,Customer_Lifetime_Value,Churn_Risk,Loyalty_Status,Purchase_Frequency
0,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,NaN,12752.0,NaN,3.0,3.0,1695.0,671.557233,0,True,5.0
1,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,Excellent,12043.0,NaN,3.0,3.0,1691.0,2378.195923,0,True,5.0
2,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,Good,14904.0,NaN,3.0,3.0,1689.0,1287.727546,0,True,5.0
3,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,Average,12989.0,NaN,3.0,3.0,1680.0,60.111529,0,True,5.0
4,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,135195.0,2021-01-23 14:00:00,...,NaN,12752.0,NaN,3.0,3.0,1695.0,671.557233,0,True,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20622,667,Phone,Clothing,143.191788,57,Supplier C,25,3,131367.0,2021-04-11 08:00:00,...,NaN,18105.0,NaN,0.0,2.5,1678.0,1198.236859,0,True,6.0
20623,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,Average,13627.0,NaN,2.0,2.9,1732.0,1928.899348,1,False,10.0
20624,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,Excellent,10667.0,NaN,0.0,2.5,1731.0,2947.211191,1,False,6.0
20625,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,NaN,17002.0,NaN,0.0,2.5,1727.0,2305.122276,1,False,6.0
20626,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,NaN,18105.0,NaN,0.0,2.5,1678.0,1198.236859,0,True,6.0

In [37]:
merged_df['Return_Count'] = merged_df.groupby('Customer_ID')['Return_Status'].transform(lambda x: (x == 'Returned').sum())
merged_df['Return_Rate_percentage'] = merged_df['Return_Count'] / merged_df['Purchase_Frequency']*100
merged_df

,Product_ID,Product Name,Category,Price,Stock_Level,Supplier,Discount,Rating_transaction,Transaction_ID,Shipping_Date,...,Total_Purchase_Amount,Return_Count,Average_Feedback_Rating,Days_Since_Last_Purchase,Customer_Lifetime_Value,Churn_Risk,Loyalty_Status,Purchase_Frequency,Return_Rate,Return_Rate_percentage
0,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,NaN,3.0,3.0,1695.0,671.557233,0,False,5.0,60.0,60.0
1,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,NaN,3.0,3.0,1691.0,2378.195923,0,False,5.0,60.0,60.0
2,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,NaN,3.0,3.0,1689.0,1287.727546,0,False,5.0,60.0,60.0
3,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,170091.0,2021-01-14 16:00:00,...,NaN,3.0,3.0,1680.0,60.111529,0,False,5.0,60.0,60.0
4,202,Book,Home Appliances,838.665080,290,Supplier C,3,3,135195.0,2021-01-23 14:00:00,...,NaN,3.0,3.0,1695.0,671.557233,0,False,5.0,60.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20622,667,Phone,Clothing,143.191788,57,Supplier C,25,3,131367.0,2021-04-11 08:00:00,...,NaN,0.0,2.5,1678.0,1198.236859,0,True,6.0,0.0,0.0
20623,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,NaN,2.0,2.9,1732.0,1928.899348,1,False,10.0,20.0,20.0
20624,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,NaN,0.0,2.5,1731.0,2947.211191,1,False,6.0,0.0,0.0
20625,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,NaN,0.0,2.5,1727.0,2305.122276,1,False,6.0,0.0,0.0
20626,667,Phone,Clothing,143.191788,57,Supplier C,25,3,149437.0,2021-05-21 21:00:00,...,NaN,0.0,2.5,1678.0,1198.236859,0,True,6.0,0.0,0.0